body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: grey;
    margin: 0;
    width: 100vw;
    height: 100vh;
}


.fl-lights {
    display: flex;
    width: 90%;
    height: 80%;
    align-items: flex-end;
    justify-content: center;
}

.back-board {
    margin-bottom: 9.5%;
    background-color: black;
    width: 30%;
    height: 3%;
    position: absolute;
    z-index: -1;
}

.light-strip {
    margin: 1%;
    display: flex;
    width: 6%;
    height: 50%;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.light {
    margin: 5%;
    display: flex;
    width: 90%;
    height: 50%;
    background-color: dimgray;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    font-size: 350%;
}

.red {
    background-color: red;
}